:root {
    --page-max-width: 84rem;
    --page-padding: clamp(24px, 4vw, 32px);

    --navbar-height: 3.2rem;
    --bottom-nav-height: calc(var(--navbar-height) + var(--space-5));
    --section-min-height: 40rem;
    --section-max-height: 70rem;
    --section-height: clamp(var(--section-min-height), 100vh, var(--section-max-height));
    /*--footer-height: 16rem;*/

    height: 100%;
    position: relative; /*Due to a warning from Motion (formerly Framer Motion).*/
}

/*html {
    scroll-snap-type: block proximity;
}*/
body {
    min-height: 100%;
    margin: 0;
}

body.root-layout {
    display: grid;
    grid-template-columns:
        minmax(0, 1fr)
        [breakout-start] var(--page-padding)
        [page-start] minmax(0, calc(var(--page-max-width) - 2 * var(--page-padding))) [page-end]
        var(--page-padding) [breakout-end]
        minmax(0, 1fr);
    grid-template-rows:
        [navbar-start] var(--navbar-height)
        [navbar-end content-start] 1fr
        [content-end bottom-nav-start] var(--bottom-nav-height)
        [bottom-nav-end footer-start] max-content
        [footer-end];

    & > header, main, footer {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
    }
    & > header, .bottom-nav {
        position: sticky;
        left: 0;
        z-index: 1;
        overflow-x: clip;
    }
    & > header {
        height: var(--navbar-height);
        grid-row: navbar;
        grid-template-rows: 1fr;
        top: var(--space-5);
        align-items: stretch;
    }
    & > main {
        grid-row: navbar / bottom-nav;
        grid-auto-rows: auto;
        isolation: isolate;

        & > section {
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: subgrid;
            grid-template-rows: 1fr;
            overflow-x: clip;
        }
    }
    & > .bottom-nav {
        height: var(--bottom-nav-height);
        padding-block-end: var(--space-5);
        grid-column: page;
        grid-row: bottom-nav;
        bottom: 0;
    }
    & > footer {
        grid-row: footer;
    }
    & > header > *,
    & > main > section > *,
    & > footer > * {
        grid-column: page;
    }
}