@layer layout, typography, colors;

@import "layout.css" layer(layout);
@import "typography.css" layer(typography);
@import "colors.css" layer(colors);
@import "viewport.css";

/*:root {*/
    /*--ease-in-quad: cubic-bezier(.55, .085, .68, .53);*/
    /*--ease-in-cubic: cubic-bezier(.550, .055, .675, .19);*/
    /*--ease-in-quart: cubic-bezier(.895, .03, .685, .22);*/
    /*--ease-in-quint: cubic-bezier(.755, .05, .855, .06);*/
    /*--ease-in-expo: cubic-bezier(.95, .05, .795, .035);*/
    /*--ease-in-circ: cubic-bezier(.6, .04, .98, .335);*/

    /*--ease-out-quad: cubic-bezier(.25, .46, .45, .94);*/
    /*--ease-out-cubic: cubic-bezier(.215, .61, .355, 1);*/
    /*--ease-out-quart: cubic-bezier(.165, .84, .44, 1);*/
    /*--ease-out-quint: cubic-bezier(.23, 1, .32, 1);*/
    /*--ease-out-expo: cubic-bezier(.19, 1, .22, 1);*/
    /*--ease-out-circ: cubic-bezier(.075, .82, .165, 1);*/

    /*--ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);*/
    /*--ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);*/
    /*--ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);*/
    /*--ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);*/
    /*--ease-in-out-expo: cubic-bezier(1, 0, 0, 1);*/
    /*--ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);*/
/*}*/

:root {
    --stretch-timing-function: cubic-bezier(0.32, 0.019, 0, 0.987);
    --stretch-duration: 0.5s;

    --release-timing-function: linear(0, 0.003 0.2%, 0.016 0.5%, 0.03 0.7%, 0.06 1%, 0.132 1.5%, 0.226 2%, 0.338 2.5%, 0.464 3%, 0.933 4.7%, 1.116 5.4%, 1.256 6%, 1.375 6.6%, 1.469 7.2%, 1.527 7.7%, 1.552 8%, 1.565 8.2%, 1.579 8.5%, 1.585 8.8%, 1.586 9%, 1.581 9.3%, 1.574 9.5%, 1.559 9.8%, 1.522 10.3%, 1.458 10.9%, 1.393 11.4%, 1.32 11.9%, 1.045 13.6%, 0.937 14.3%, 0.855 14.9%, 0.784 15.5%, 0.728 16.1%, 0.693 16.6%, 0.67 17.1%, 0.662 17.4%, 0.657 17.7%, 0.657 17.9%, 0.659 18.2%, 0.662 18.4%, 0.671 18.7%, 0.692 19.2%, 0.729 19.8%, 0.766 20.3%, 0.809 20.8%, 0.979 22.6%, 1.042 23.3%, 1.09 23.9%, 1.13 24.5%, 1.162 25.1%, 1.182 25.6%, 1.195 26.1%, 1.199 26.4%, 1.201 26.7%, 1.199 27.2%, 1.192 27.7%, 1.178 28.2%, 1.156 28.8%, 1.109 29.8%, 0.977 32.2%, 0.949 32.8%, 0.925 33.4%, 0.906 34%, 0.894 34.5%, 0.886 35%, 0.882 35.6%, 0.883 36.1%, 0.887 36.6%, 0.895 37.1%, 0.907 37.7%, 0.935 38.7%, 1.012 41.1%, 1.031 41.8%, 1.045 42.4%, 1.056 43%, 1.063 43.5%, 1.067 44%, 1.069 44.5%, 1.067 45.4%, 1.059 46.3%, 1.042 47.4%, 0.997 49.8%, 0.979 50.9%, 0.97 51.6%, 0.965 52.2%, 0.96 53.4%, 0.961 54.3%, 0.966 55.3%, 0.975 56.3%, 1.002 58.8%, 1.013 59.9%, 1.02 61.1%, 1.024 62.3%, 1.023 63.2%, 1.02 64.2%, 0.993 68.8%, 0.988 70%, 0.986 71.2%, 0.988 73.2%, 1.004 77.6%, 1.008 79.9%, 1.007 82%, 0.998 86.6%, 0.995 88.9%, 0.996 91.1%, 1.002 96.6%, 1);
    --release-duration: 2.725s;
}

*, *::before, *::after {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-color: oklch(0.5 0.2 240 / 0.2);*/
}

svg, svg * {
    shape-rendering: geometricPrecision;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
}

::selection {
    color: var(--foreground);
    background: var(--primary-950);
}

@property --i {
    syntax: "<number> | auto";
    inherits: false;
    initial-value: auto;
}

@property --gradient-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --gradient-progress {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
}

button {
    cursor: pointer;
    border: none;
}

.bi-layered-button, .tri-layered-button {
    background-color: transparent;
    position: relative;
    isolation: isolate;
}
.bi-layered-button::before {
    z-index: -1;
}
.tri-layered-button {
    &::before {
        z-index: -2;
    }
    &::after {
        z-index: -1;
    }
}
.bi-layered-button::before, .tri-layered-button::before, .tri-layered-button::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    corner-shape: inherit;
    transition: transform 0.1s ease-in-out;
}
.bi-layered-button:active::before, .tri-layered-button:active::before, .tri-layered-button:active::after {
    transform: scale(0.97);
}