.display-text {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
}
.display-lg {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
}
.hero-heading {
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
    letter-spacing: var(--letter-spacing-6);
    font-weight: normal;
}
.hero-button {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-weight: normal;
}
.section-title {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    letter-spacing: var(--letter-spacing-5);
    font-weight: normal;
}
.section-subtitle {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
    font-weight: normal;
    color: var(--secondary-neutral-100);
}
.item-title {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);
    font-weight: normal;
}
.item-subtitle {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
    font-weight: normal;
    color: var(--secondary-neutral-300);
}

.text-xs {
    font-size: var(--font-size-neg-2);
    line-height: var(--line-height-neg-2);
    letter-spacing: var(--letter-spacing-neg-2);
}
.text-sm {
    font-size: var(--font-size-neg-1);
    line-height: var(--line-height-neg-1);
    letter-spacing: var(--letter-spacing-neg-1);
}
.text-base {
    font-size: var(--base-font-size);
    line-height: var(--base-lh-ratio);
    letter-spacing: var(--base-letter-spacing);
}
.text-lg {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
}
.text-xl {
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
}
.text-2xl {
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
}
.text-3xl {
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);
}
.text-4xl {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    letter-spacing: var(--letter-spacing-5);
}
.text-5xl {
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
    letter-spacing: var(--letter-spacing-6);
}
.text-6xl {
    font-size: var(--font-size-7);
    line-height: var(--line-height-7);
    letter-spacing: var(--letter-spacing-7);
}
.text-8xl {
    font-size: var(--font-size-9);
    line-height: var(--line-height-9);
    letter-spacing: var(--letter-spacing-9);
}
.text-9xl {
    font-size: var(--font-size-10);
    line-height: var(--line-height-10);
    letter-spacing: var(--letter-spacing-10);
}

@property --font-index {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}
@property --_font-size {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

.indexed-font {
    --_font-size: round(var(--base-font-size) * pow(var(--scale-ratio), var(--font-index)), 1px);
    font-size: var(--_font-size);
    line-height: round(1 + var(--lh-addend) / var(--_font-size), var(--lh-unit));
    letter-spacing: calc(var(--ls-numerator) / var(--_font-size) - var(--ls-offset));
}