:root {
    --mobile-s-to-laptop: clamp(0, (100vw - var(--mobile-s)) / (var(--laptop) - var(--mobile-s)), 1);
    --mobile-l-to-laptop: clamp(0, (100vw - var(--mobile-l)) / (var(--laptop) - var(--mobile-l)), 1);
}

@property --mobile-s {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}
@property --mobile-m {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}
@property --mobile-l {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}
@property --tablet {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}
@property --laptop {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}
@property --laptop-l {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}
@property --desktop {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}