:root {
    /* Base font size in px */
    --base-font-size: 1rem;

    font-size: var(--base-font-size);
    line-height: var(--base-lh-ratio);
    letter-spacing: var(--base-letter-spacing);
    font-family: Quicksand, Quicksand Fallback, sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, span, a, ul, ol, dl, li, dt, dd, label, blockquote, code, pre {
    margin-block: 0;
}